[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Ll]ibrary/
[Mm]emoryCaptures/
Obj/
ProjectSettings/UnityConnectSettings.asset
UserSettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs
*.apk
*.aab
